/*
====================================================================================================================================================================
                                                    Start Slideshow Properties
====================================================================================================================================================================
*/



section#content {
    color: white;
    position: absolute;
    top: 250px;
    left: 600px;
    right: 20px;


}

img#slide {
    width: 100%;
    height: auto;

}

/*
====================================================================================================================================================================
                                                    End Slideshow Properties
====================================================================================================================================================================
*/






/*
====================================================================================================================================================================
                                                    Start Featured Courses Properties
====================================================================================================================================================================
*/

section#content1 {
    color: white;
    position: absolute;
    top: 900px;
    left: 100px;
    right: 100px;
    background-color: black;

}
p#one{
  font-size: 2em;
  margin-left: 80px;
  margin-right: 80px;
}
b{
  color: blue;
}
h6 {
	font-size: 1em;
}

div.left {

    background: white;
    border: 1px solid transparent;
    position: absolute;
    top: 1350px;
    left: 150px;
}

div.middle {

    background: white;
    border: 1px solid transparent;
    position:absolute;
    top: 1350px;
    left: 575px;

}
div.right{

    background: white;
    border: 1px solid transparent;
    position:absolute;
    top: 1350px;
    left: 1000px;


}

.h1lt {

    position: absolute;
    top: 700px;
    left: 614px;

}
img#r,#m,#L {
  width:350px;
  height:400px;

}


/*
====================================================================================================================================================================
                                                    End Learn Tech Section Properties
====================================================================================================================================================================
*/

/*
====================================================================================================================================================================
                                                    Start Footer
====================================================================================================================================================================
*/

footer {
    width: 100%;
    height: 80px;
    background: #172035;
    position: absolute;
    top: 1800px;
    left:0;
}

p#footer {
    text-align: center;
    color: white;
    margin-top: 32px;
    font-size: 1em;
}

/* Media Query for Mobile Devices */
@media only screen and (max-width: 600px) {

    /* Adjust styles for smaller screens */
    section#content{
      top: 50px;
      left: 100px;
      right: 10px;
    }
    section#content1{
      top: 350px;
      left: 20px;
      right: 20px;
    }

    div.left {

        top: 610px;
        left: 15px;
    }

    div.middle {

        top: 610px;
        left: 150px;

    }
    div.right{

        top: 610px;
        left: 280px;


    }

    img#r,#m,#L {
      width:120px;
      height:250px;

    }
footer {

    height: 50px;
    top: 900px;
    left:0;
}
p#footer {
    margin-top: 20px;
    font-size: 10px;

}
}
/*
====================================================================================================================================================================
                                                    End Footer
====================================================================================================================================================================
*/
